{% extends "Error.twig" %}

{% set title = "Unauthorized" %}

{% block message %}
    <p>You are not authorized to view this page.</p>
{% endblock %}

{% block content %}
    <h4>Virtual Route:</h4>
    <ul>
        <li>{{ vRoute }}</li>
    </ul>

    {% if vQuery %}
    <h4>Virtual Query Parameters:</h4>
    <ul>
        {% for key, value in vQuery %}
        <li>{{ key }} = {{ value }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if route %}
    <h4>Matched Route:</h4>
    <ul>
        <li>
            <span>{{ route.getPattern }}</span>
            {% for method in route.getMethods %}
            <span class="badge">{{ method }}</span>
            {% endfor %}
        </li>
    </ul>
    {% endif %}

    {% if authenticator %}
    <h4>Using Authenticator:</h4>
    <ul>
        <li>{{ authenticator }}</li>
    </ul>
    {% endif %}

{% endblock %}
